<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav navbar-right ml-auto">
    <% if (user) { %>
    <a class="p-1 text-dark" href="../logout">Logout</a>
    <% } %> <% if (!user) { %>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#loginModal"
    >
      Log in
    </button>
    <button
      type="button"
      class="btn"
      data-toggle="modal"
      data-target="#signupModal"
    >
      Sign up
    </button>
    <% } %>
  </ul>
</nav>

<!-- Login in Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Log in</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="margin-bottom: 50px;">
          <button
            type="button"
            class="float-right btn btn-outline-primary"
            data-toggle="modal"
            data-dismiss="modal"
            data-target="#signupModal"
          >
            Sign up
          </button>
        </p>

        <p>
          <a href="/auth/google" class="btn btn-block btn-outline-danger">
            <i class="fab fa-google"></i> Login via Google</a
          >
        </p>
        <hr />
        account for testing: test@email.com Pass: 123<br /><br />
        <form method="POST" action="login">
          <div class="form-group">
            <label>Your email</label>
            <input
              name="email"
              class="form-control"
              placeholder="Email or login"
              type="email"
            />
          </div>
          <div class="form-group">
            <label>Your password</label>
            <input
              class="form-control"
              placeholder="******"
              type="password"
              name="password"
            />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Sign up Modal -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="signupModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalTitle">Sign up</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="margin-bottom: 50px;">
          <button
            type="button"
            class="float-right btn btn-outline-primary"
            data-toggle="modal"
            data-dismiss="modal"
            data-target="#loginModal"
          >
            Log in
          </button>
        </p>

        <form method="POST" action="signup">
          <div class="form-group">
            <label>Your email</label>
            <input
              name="email"
              class="form-control"
              placeholder="Email"
              type="email"
            />
          </div>
          <div class="form-group">
            <label>Your password</label>
            <input
              class="form-control"
              placeholder="******"
              type="password"
              name="password"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
