<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script></script>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <a href="cocktails/index">Show Cocktail</a>
    <form action="/seed/cocktails" method="POST">
      <button class="btn btn-success" type="submit">Seed Data</button>
    </form>
  </body>
</html>
