body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: #00b7ff;
}

.main {
  margin-top: 70px;
}

.card {
  border: none;
  height: 100%;
}

.jumbotron {
  margin-top: 30px;
}

#detailImg {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.list-group {
  margin-bottom: 20px;
}
.list-group-item {
  width: auto;
}

.detailBody {
  margin-left: 25px;
}

#insTitle {
  font-size: 25px;
}

#insText {
  font-size: 20px;
}

.fas {
  font-size: 23px;
}

.card-text {
  font-size: 17px;
}

.detailButton {
  margin-top: 25px;
}

.removeButton,
.modifyBtn {
  float: right;
  margin-top: 20px;
}

.postBtn {
  float: right;
}

.commentUl {
  margin-top: 70px;
}

.removeListBtn {
  float: right;
}

#coverImg {
  background: url("https://images.unsplash.com/photo-1514361892635-6b07e31e75f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.showBtn {
  position: absolute;
  top: 55%;
  left: 47%;
}
